<div class="top-conta" ngSkipHydration>
  <div class="header">
    <mat-icon class="white">dehaze</mat-icon>
    <div class="layout-name">
      <div class="text-align">{{ "DETAILS LAYOUT" }}</div>
    </div>
    <div class="right-icon-container">
      <mat-icon class="white pad-r-10">search</mat-icon>
      <mat-icon class="white pad-r-10">notification_important</mat-icon>
      <div class="project-drop-down">
        <label class="l-color pad-l-10 p-rel">{{ "Choose Project" }}</label>
        <mat-icon class="white vertical-align">arrow_drop_down</mat-icon>
      </div>
      <mat-icon class="white pad-l-10">supervised_user_circle</mat-icon>
    </div>
  </div>
  <div class="bot-conta">
    <div class="sidebar">
      <mat-icon class="pad-10 gray">dehaze</mat-icon>
      <mat-icon class="selected-icon">adb</mat-icon>
      <mat-icon class="pad-10 gray">confirmation_number</mat-icon>
      <mat-icon class="pad-10 gray">disc_full</mat-icon>
      <mat-icon class="pad-10 gray">drive_eta</mat-icon>
      <mat-icon class="pad-10 gray">enhanced_encryption</mat-icon>
      <mat-icon class="pad-10 gray">event_available</mat-icon>
      <mat-icon class="pad-10 gray">event_busy</mat-icon>
      <mat-icon class="pad-10 gray">event_note</mat-icon>
      <hr class="width-hr" />
      <mat-icon class="pad-10 gray">keyboard_arrow_right</mat-icon>
    </div>
    <div class="content-page">
      <div class="content-header">
        <div class="bread-crum">
          <mat-icon class="pad-r-10">keyboard_backspace</mat-icon>
          <label class="align-content-header"
            >{{ "Vendor Contracts > " }}
            <b>{{ "Fixed Price Contracts - English" }}</b></label
          >
        </div>
        <div class="assigned">
          <div class="text-align">{{ "Assigned" }}</div>
        </div>
        <div class="btn-box">
          <div class="btn cnl-color">
            <label>{{ "CANCEL" }}</label>
          </div>
          <div class="pad-10"></div>
          <div class="btn save-color">{{ "SAVE" }}</div>
        </div>
      </div>
      <div class="content-stats">
        <div class="count-stats">
          <div class="inner-box bor-right">
            <label class="num-font">{{ "18" }}</label>
            <label class="align-text">{{ "Intents" }}</label>
          </div>
          <div class="inner-box bor-right">
            <label class="num-font">{{ "256" }}</label>
            <label class="align-text">{{ "Entities" }}</label>
          </div>
          <div class="inner-box bor-right">
            <label class="num-font">{{ "12" }}</label>
            <label class="align-text">{{ "Documents" }}</label>
          </div>
          <div class="inner-box">
            <label class="num-font">{{ "232" }}</label>
            <label class="align-text">{{
              "Sentences
              Identified"
            }}</label>
          </div>
        </div>
        <div class="graphs">
          <label class="pad-b-20">{{ "Document Status" }}</label>
          <div class="color-graph pad-b-20">
            <div class="red width-color"></div>
            <div class="yellow width-color"></div>
            <div class="light-green width-color"></div>
            <div class="green width-color"></div>
          </div>
          <div class="color-graph">
            <div class="checkbox-label pad-r-10">
              <div class="red box-width"></div>
              <label>{{ "Unassigned" }}</label>
            </div>
            <div class="checkbox-label pad-r-10">
              <div class="yellow box-width"></div>
              <label>{{ "Assigned" }}</label>
            </div>
            <div class="checkbox-label pad-r-10">
              <div class="light-green box-width"></div>
              <label>{{ "Tagged" }}</label>
            </div>
            <div class="checkbox-label">
              <div class="green box-width"></div>
              <label>{{ "Trained" }}</label>
            </div>
          </div>
        </div>
        <div class="graphs">
          <table>
            <tr>
              <th>{{ "Assignee" }}</th>
              <th>{{ "Docs" }}</th>
              <th>{{ "Sentences" }}</th>
            </tr>
            <tr>
              <td>{{ "John.Doe" }}</td>
              <td>{{ "6" }}</td>
              <td>{{ "138" }}</td>
            </tr>
            <tr>
              <td>{{ "Michelle.R" }}</td>
              <td>{{ "4" }}</td>
              <td>{{ "74" }}</td>
            </tr>
            <tr>
              <td>{{ "Greg.Stevert" }}</td>
              <td>{{ "2" }}</td>
              <td>{{ "20" }}</td>
            </tr>
          </table>
        </div>
      </div>
      <div class="nav-bar-cont">
        <div class="nav-bar">
          <div class="selected-nav-bar pad-r-20">
            <label>{{ "INTENTS" }}</label>
            <div class="border-b-b"></div>
          </div>
          <label class="pad-r-20">{{ "DOCUMENTS" }}</label>
          <label class="pad-r-20">{{ "STATISTICS" }}</label>
        </div>
      </div>
    </div>
  </div>
</div>
